@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:wght@300&display=swap");
/*ESTILOS GENERALES*/

body {
  background: #d1defa;
  font-family: "Alkatra", cursive;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.layout {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "content content content lateral"
    "footer footer footer footer";
  grid-template-rows: 100px 70px auto 70px;
}

/*ESTILOS CABECERA*/

.header {
  grid-area: header;
  background: #669bbc;
  text-align: left;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.logo {
  background: radial-gradient(circle, #2a9d8f 0%, #264653 100%);
  box-shadow: 1px 1px 1px #000;
  border-top-left-radius: 50%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 80%;
  width: 75px;
  height: 36px;
  margin-top: 30px;
}

.play {
  margin: -22% -31%;
  color: #f9f9f9;
  width: 150%;
  height: 90%;
}

.header h1 {
  text-transform: uppercase;
  font-size: 30px;
  display: inline;
  background: #2a9d8f;
  color: #264653;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 1px #000;
  position: relative;
  margin: 2% 1%;
  padding: 0% 1%;
}

/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/

.nav {
  grid-area: nav;
  background: #264653;
  border-top: 2px groove #000;
  border-bottom: 2px groove #000;
}

.nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 1% 0%;
}

.nav li {
  padding: 10px;
}

.nav a {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  font-weight: lighter;
  color: #2a9d8f;
  text-shadow: 1px 1px 1px #000814;
  text-decoration: none;
  transition: all 300ms;
}

.nav a:hover {
  transform: scale(1.1, 1.1);
}

/*ESTILOS PARA EL CONTENIDO PRINCIPAL*/
.content {
  grid-area: content;
  background: #669bbc;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: initial;
  flex-grow: 1;
  flex-direction: row;
  overflow-wrap: break-word;
  text-align: left;
}
.datos {
  padding: 0% 2%;
  margin: 0px auto;
}
.articulo-item {
  padding: 10% 8%;
  background: #caf0f8;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  max-height: 240px;
}

.articulo-item,
.mask {
  overflow: hidden;
  margin: 6% 10%;
}
.articulo-item,
.mask img {
  width: 100%;
  padding: 5% 0% 30% 30%;
  display: block;
}

.edit,
.delete {
  margin: 0% 3%;
}
.articulo-item h3 {
  font-size: 30px;
}
.btn-edition {
  display: flex;
}
.blog-item {
  flex-grow: 1;
  background: #2a9d8f;
  color: #000814;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #000;
  margin: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
}
.title {
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000814;
  color: #264653;
  font-size: 30px;
  font-weight:600;
}
.description {
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #d3d3d3;
  font-size: 25px;
  font-weight:500;
}
.inf-enlc{
  padding:0% 3%;
  text-decoration:none;
  color: #0d1b2a;
  text-shadow:1px 1px 1px #778da9;
  transition:300ms all;
}
.inf-enlc:hover{
  padding:0% 3%;
  text-decoration:none;
  color: #778da9;
  text-shadow:1px 1px 1px #0d1b2a; 
  transition:300ms all;
}
button,
.search {
  background: #264653;
  color: #2a9d8f;
  text-decoration: none;
  width: 100px;
  letter-spacing: 1px;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
  text-shadow: 1px 1px 1px #001d3d;
}
.edit {
  background: #264653;
  color: #2a9d8f;
  text-decoration: none;
  letter-spacing: 1px;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
  text-shadow: 1px 1px 1px #001d3d;
}

input[type="submit"] {
  background: #264653;
  color: #2a9d8f;
  text-decoration: none;
  width: 100px;
  letter-spacing: 1px;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
  text-shadow: 1px 1px 1px #001d3d;
}
.edit:hover {
  background-color: #ffba08;
  color: #dc2f02;
  text-shadow: 1px 1px 1px #f3eff5;
  transition: all 300ms;
}
.delete {
  background: #264653;
  color: #2a9d8f;
  text-decoration: none;
  width: 100px;
  letter-spacing: 1px;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
  text-shadow: 1px 1px 1px #001d3d;
}
.delete:hover {
  color: #d6d6d6;
  font-weight: bold;
  background-color: #bf0603;
  text-shadow: 1px 1px 1px #000;
  transition: all 300ms;
}
.txt-edt {
  resize: none;
  padding: 1% 30% 30% 3%;
  width: 158%;
  font-family: inherit;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 15px;
}
.btn-volver,
.btn-guardar {
  background: #264653;
  color: #2a9d8f;
  text-decoration: none;
  letter-spacing: 1px;
  border: 0;
  outline: 0;
  padding: 4.5% 7%;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
  text-shadow: 1px 1px 1px #001d3d;
}
.btn-volver:hover {
  color: #219ebc;
  background-color: #023047;
  cursor: pointer;
  transition: all 300ms;
  text-shadow: 1px 1px 1px #000;
}
.btn-guardar:hover {
  color: #a7c957;
  background-color: #386641;
  cursor: pointer;
  transition: all 300ms;
  text-shadow: 1px 1px 1px #000;
}
/*ESTILOS BARRA LATERAL*/
.lateral {
  grid-area: lateral;
  background: #669bbc;
  border-left: 5px groove #000;
  padding: 6% 15%;
  width: 100%;
  margin: 0px auto;
}

.lateral > div {
  box-sizing: border-box;
  width: 150%;
  margin: 5% 0%;
  padding: 20px;
  padding-top: 10px;
  background: #4aaab0;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #000;
}

.input-crear {
  display: block;
  padding: 1% 0% 2% 1%;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 90%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
  resize: none;
}
.contenido {
  padding: 0% 0% 30% 0%;
}
.edit_form {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
.form-group {
  width: 50%;
}
.form-group label {
  margin: 5% 0% 0% 0%;
  display: block;
  text-align: left;
}

#search_field {
  display: block;
  padding: 1% 2% 30% 2%;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 90%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
  resize: none;
  margin: 0% 0% 10% 0%;
}
/* DETALLES */
.detalles-item{
  background: #ccc;
  padding: 14.3% 0%;
  margin: 4% 0%;
  width: 140%;
  border-radius:5px;
}
.btn-volver-artc{
  background: #264653;
  color: #2a9d8f;
  text-decoration:none;
  text-shadow:1px 1px 1px #000;
  padding:2% 2%;
  border-radius:5px;
}
.m{
 margin:5% 0%;
 word-break: break-all;
 height:100px;
}
/*SPINNER BARRA LATERAL */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  text-align: center;
  display: flex;
  align-items: center;
}

.custom-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #264653;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading-text {
  font-weight: bold;
  color: #2a9d8f;
  text-shadow:1px 1px 1px #000;
  margin-right: 10px;
}

.ring-loader {
  margin-left: 20px;
}
/*ESTILOS PARA EL PIE DE PÁGINA*/
.footer {
  grid-area: footer;
  background: #264653;
  color: #2a9d8f;
  border-top: 5px groove #000;
  text-align: left;
  line-height: 55px;
  padding-left: 25px;
  text-shadow: 1px 1px 1px #001d3d;
}

.footer a {
  color: #2a9d8f;
  text-decoration: none;
  text-shadow: 1px 1px 1px #001d3d;
}
.no-Encontrado {
  color: rgb(249, 34, 34);
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}
/* paginas */
.pages {
  margin: 0% 17% 0% 0%;
  padding: 1% 5% 0% 2%;
  overflow-wrap: break-word;
  width: 40%;
}

/* Inicio */
.jumbo {
  border: 1px solid black;
  background-color: #8ecae6;
  overflow-wrap: break-word;
  padding: 0% 30px 10% 30px;
  margin: 0px auto;
  width: 100%;
}
.jumbo h1 {
  font-size: 35px;
}
.jumbo p {
  display: block;
  margin-bottom: 40px;
}
.btn-articulos {
  text-decoration: none;
  color: #2a9d8f;
  background-color: #264653;
  padding: 1% 2%;
  text-shadow: 1px 1px 1px #001d3d;
}
/* cuando no hay articulos que mostrar */
.msg-vacio {
  color: #e5383b;
  background-color: #660708;
  text-shadow: 1px 1px 1px #000;
  padding: 3% 10%;
  transform: translate(100px, 10px);
  border-radius: 10px;
  letter-spacing: 2px;
}
/* mensaje de cargando */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loading-dots {
  display: inline-flex;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 2px;
  opacity: 0;
  animation: loading 1s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
  background-color: #212529;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
  background-color: #343a40;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
  background-color: #495057;
}

@keyframes loading {
  0%,
  20% {
    transform: scale(1);
    opacity: 0;
  }
  25%,
  45% {
    opacity: 1;
  }
  40% {
    transform: scale(1.5);
    opacity: 0;
  }
  65%,
  85% {
    opacity: 1;
  }
  80% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 1085px) {
  .content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .blog-item {
    width: 80%;
  }
}
